<section class="persons">
    <div class="container">
        <div class="six columns offset-by-two">
            <div class="content">
                <h1>Let's get to know you better...</h1>
                <h4>..and start with some basic information.</h4>
                <form class="personal" action="">
                    <div class="form-control">
                        <label for="name">First Name</label>
                        <input type="text" name="name" id="firstName" placeholder="Enter your name here...">
                    </div>
                    <div class="form-control">
                        <label for="name">Last Name</label>
                        <input type="text" name="name" id="lastName" placeholder="Enter your name here...">
                    </div>
                    <div class="form-control custom-select">
                        <label for="gender">Gender</label>
                        <select className="dropdown">
                            <option value="" disabled selected hidden>Choose from the following...</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="trans">Transgender</option>
                            <option value="nb">Non-Binary</option>
                            <option value="dnr">Prefer not to say</option>
                        </select>
                    </div>
                    <div class="form-control">
                        <label for="dob">Date Of Birth</label>
                        <input type="date">
                    </div>
                    <div class="form-control">
                        <label for="race">Race</label>
                        <select className="dropdown">
                            <option value="">Choose from the following...</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="trans">Transgender</option>
                            <option value="nb">Non-Binary</option>
                            <option value="dnr">Prefer not to say</option>
                        </select>
                    </div>
                    <div class="form-control">
                        <label for="ethnicity">Ethnicity</label>
                        <select className="dropdown">
                            <option value="">Choose from the following...</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="trans">Transgender</option>
                            <option value="nb">Non-Binary</option>
                            <option value="dnr">Prefer not to say</option>
                        </select>
                    </div>
                    <div class="form-control full">
                        <label for="description">Personal Description</label>
                        <textarea name="description" id="description" placeholder="Personal Description"></textarea>
                    </div>
                    <input type="submit" value="Join our community">
                </form>
            </div>
        </div>
    </div>
</section>








<p>persons works!</p>