section.persons {               position: relative;
    .content {                  margin: 80px 0 0;}
    h1 {                        font-family: 'Minion Pro Italics', sans-serif; margin: 0 0 10px; color: #287FDD;}
    h4 {                        font-family: 'Agrandir Bold', sans-serif; margin: 0 0 50px; font-size: 24px;}
}