<section class="personal" *ngFor="let profile of profiles">
    <div class="container">        
        <div class="five columns">
            <div class="content">
                <h1>Hey, {{ profile.firstName }}!</h1>
                <p class="subtext">Let's get to know you better & start with some basic info.</p>
                <p class="questions">4 Questions Required</p>                
                <input class="blue" type="button" value="Get Started">

            </div>
        </div>
        <div class="five columns">
            <div class="image">
                <img src="assets/images/personal.png" alt="">
            </div>
        </div>
    </div>
</section>