header {                            width: 100%; height: 60px;}
header div.logo {                   width: 250px; float: left; margin: 20px 50px;}

.progress {                     width: 100%; height: 5px;}