<section>
    <div class="container">
        <div class="five columns">
            <div class="image">
                <img src="assets/images/main.png" alt="">
            </div>
        </div>
        <div class="five columns">
            <div class="login">
                <h1>Join our</h1>
                <h1><span>community</span></h1>
                <p class="subtext">We are a community that shares stories and supports minority communities. We are here to be informative, relational, helpful, and supportive. </p>
                <form action="">
                    <div class="form-control">
                        <label for="email">Email Address</label>
                        <input type="email" name="email" id="email" placeholder="Enter your email here...">
                    </div>
                    <div class="form-control">
                        <label for="name">First Name</label>
                        <input type="text" name="name" id="name" placeholder="Enter your name here...">
                    </div>
                    <div class="form-control">
                        <label for="pass">Password</label>
                        <input type="password" name="pass" id="pass" placeholder="Enter your password here...">
                    </div>
                    <p class="terms">By signing up, you agree to our <a href="#">Terms of Service</a>, <a href="#">Privacy Policy</a>, and to receiving emails related to your account from NOWINCLUDED.</p>
                    <input type="submit" value="Join our community">
                </form>
                <p class="signin">Are you already a member of our community? Click <a href="#">here</a> to <a href="#">login</a>.</p>                

            </div>
        </div>
    </div>
</section>