<section class="contact" *ngFor="let profile of profiles">
    <div class="container">        
        <div class="six columns">
            <div class="content">
                <h1>Keep it going!</h1>
                <p class="subtext">Let's get a little more personal info</p>
                <p class="questions">4 Questions Required</p>                
                <input class="blue" type="button" value="Get Started">
            </div>
        </div>
        <div class="four columns">
            <div class="image">
                <img src="assets/images/contact.jpg" alt="">
            </div>
        </div>
    </div>
</section>