div.backbutton {                width: auto; padding: 10px 10px 0; position: fixed; left: 50px; bottom: 50px;
    fa-icon {                   font-size: 40px; line-height: 40px; float: left; color: #287FDD; margin: 0 10px 0 0;}
    p {                         font-family: 'Agrandir Bold', sans-serif; font-size: 30px; line-height: 45px; display: inline-block; color: #287FDD;}
}